body {
  margin: 0;
  background-color: #000000;
  font-family: Helvita, Arial, sans-serif;
}

canvas { width: 100%; height: 100% }

#container {
  position: absolute;
  top: 0;
  left: 0;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

#leftarrow {
  position: absolute;
  left: 30px;
  height: 100%;
}

#rightarrow {
  position: absolute;
  right: 130px;
  height: 100%;
}

.layerBG {
  position: absolute;
  width: 10000;
  height: 1000;
  background-color: rgba(0,132,180,0.25);
}

.tweet {
  width: 300px;
  height: 140px;
  box-shadow: 0px 0px 20px rgba(0,180,255,0.75);
  border: 2px solid rgba(0,132,180,1);
  cursor: default;
  padding: 2px;
}

.tweet:hover {
  box-shadow: 0px 0px 20px rgba(0,225,255,1);
  border: 2px solid rgba(0,200,255,0.75);
}

  .tweet .username {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: rgba(0,132,180,1);
  }

  .tweet .tweetText {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: rgba(20,20,20,0.75);

/*    -webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));*/
  }

  .tweet .score {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    font-size: 18px;
    text-align: right;
    color: rgba(0,132,180,1);
  }

button {
  color: rgba(127,255,255,0.75);
  background: transparent;
  outline: 1px solid rgba(127,255,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0,255,255,0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}

.arrow button {
  margin: auto;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0; left: 0; bottom: 0; right: 0;
  color: rgba(10,10,10,0.75);
  font-size: 80px;
  padding: 0px 0 12px 0;
  background: rgba(127,200,255,0.35);
  border-radius: 50px;
  border: 2px solid rgba(127,200,255,0.75);
  font-weight: bold;
  outline: none;
  line-height: 0.35em;
  box-shadow: 0px 0px 20px rgba(0,180,255,0.5);
}
.arrow button:hover {
  background-color: rgba(150,220,255,0.5);
  border: 2px solid rgba(200,230,255,0.8);
  box-shadow: 0px 0px 20px rgba(0,180,255,0.75);
}
.arrow button:active {
  color: #000000;
  background-color: rgba(150,220,255,0.75);
  border: 2px solid rgba(200,230,255,1);
  box-shadow: 0px 0px 20px rgba(0,180,255,0.5);
}